@model PlayerViewModel
<partial name="_Notification"/>
<div class="container">
    <h1>You are logged in (player)</h1>
@*     <h2>@ViewData["token"]</h2>
    <h2>@ViewData["res"]</h2>
    <h2>@ViewData["autht"]</h2>

    <h2>@ViewData["disp"]</h2> *@
    <h2>@Model.Player.steamDisplayName</h2>
    <h2>@Model.OAuthResponse.membership_id</h2>
</div>